.encabezado{
    text-align: right;
}
.inicio{
    text-align: center;
}
table{
    margin: auto;
}
.lema{
    text-align: center;
}
.encabezado{
    text-align: right;
}
.conceptosbasicos{
    text-align: center;
}
.regreso{
    text-align: right;
}
.tablasylistas {
    text-align: center;
}
.imagenesyvideos {
    text-align: center;
}